* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/*** HEADER ***/
header {
    background-color: black;
}

#head {
    height: 70px;
    line-height: 70px;
    width: 98%;
    margin: 0 auto;
}

#head #logo {
    float: left;
}

#logo h1 a {
    text-decoration: none;
    color: red;
}

#head #right-menu {
    float: right;
}

.research {
    text-align: right;
    color: white;
}

.research input {
    height: 30px;
    width: 190px;
    margin-right: 10px;
}

.research input, .button {
    margin-top: 20px;
}

.research .fa-bell {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.research img {
    width: 8%;
    vertical-align: middle;
    cursor: pointer;
}

.button {
    color: lightgrey;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
}

/*** MAIN ***/
main {
    height: calc(100vh - 71px);
    overflow-y: auto;
    background-color: black;
}

main.all {
    height: 100vh;
}

#hot-now, #once-searched {
    width: 98%;
    margin: auto;
}

#hot-now .sec h2, #once-searched .sec h2 {
    margin-top: 30px;
    color: white;
}

#hot-now .sec.voted {
    padding-bottom: 20px;
}

#once-searched {
    display: none;
}

.results {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
    overflow-x: auto;
    color: white;
}

.card {
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

#hot-now .poster {
    height: 430px;
}

#once-searched .poster {
    height: 325px;
}

#once-searched h2 {
    display: inline-block;
}

#once-searched select {
    display: inline-block;
    margin-left: 20px;
    background-color: black;
    color: white;
    height: 30px;
}


.poster {
    height: 250px;
    max-width: 100%;
}

.card .poster img {
    height: 100%;
}

.card .info {
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 0.2s;
    overflow-y: auto;
    padding: 0 5px;
}

.card .info h3 {
    margin-bottom: 10px;
}

.card .info p {
    margin-bottom: 5px;
}

.card .language img {
    vertical-align: middle;
}

.card:hover .info {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}

.fas.fa-star {
    color: #FFBE00;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255,0,0,0.4);
  border-radius: 2px;
}
