* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

/*** HEADER ***/
header {
    background-color: black;
}

#head {
    height: 70px;
    line-height: 70px;
    width: 99%;
    margin: 0 auto;
}

#head #logo {
    float: left;
}

#logo h1 a{
    text-decoration: none;
    color: red;
}

#head #right-menu {
    float: right;
}

.research input, .button {
    margin-top: 20px;
}

.button {
    background-color: lightgrey;
    cursor: pointer;
    border: 1px solid grey;
}

/*** MAIN ***/
main {
    height: calc(100vh - 70px);
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-top: 20px;
    height: 200px;
    width: 300px;
    border: 1px solid black;
}
